@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 13px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 0px;
    line-height: 0px;

    opacity: 0;
    color: transparent;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
//




.sticker-slider .slick-prev,
.sticker-slider .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 13px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.sticker-slider .slick-prev:before,
.sticker-slider .slick-next:before
{
    font-family: 'slick';
    font-size: 0px;
    line-height: 0px;

    opacity: 0;
    color: transparent;
}

.sticker-slider .slick-prev
{
    left: -50px;
}
[dir='rtl'] .sticker-slider .slick-prev
{
    right: -50px;
    left: auto;
}

.sticker-slider .slick-next
{
    right: -42px;
}
[dir='rtl'] .sticker-slider .slick-next
{
    right: auto;
    left: -42px;
}





@media screen and (max-width: 940px) {  
    
.sticker-slider .slick-prev
{
    left: -45px;
}
[dir='rtl'] .sticker-slider .slick-prev
{
    right: -45px;
    left: auto;
}

.sticker-slider .slick-next
{
    right: -37px;
}
[dir='rtl'] .sticker-slider .slick-next
{
    right: auto;
    left: -37px;
}

}