@import url("fonts.css");
/*----- Common Styles-----------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
h1, h2, h3, p, a, input, textarea {
	font-family: 'BPGNinoMtavruli-Bold';
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
#mobile_menu {
	display: none;
}
.pages {
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.inner-page {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	min-height: 450px;
	background-color: #fff;
	border-radius: 0 0 0 70px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
}
.inner-page-for-contact {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	height: 450px;
	background-color: #fff;
	border-radius: 0 0 0 70px;
}
.painter-img {
	width: 140px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 80px;
}
.painter-text {
	width: 400px;
}
.painter-text h2 {
	text-align: center;
	color: #E9481C;
	padding: 30px 0;
	font-size: 20px;
}
.pre-text {
	width: 350px;
	margin: 0 auto 20px;
}
.painter-text p {
	font-family: 'BPGRioniVera';
	font-weight: bold;
	font-size: 15px;
	color: #2D3133;
	line-height: 18px;
	text-align: justify;
}
.pre-text-p {
	font-size: 17px !important;
	text-indent: 0px;
	text-align: left !important;
}
.painter-slider {
	width: 321px;
	display: flex;
	justify-content: center;
	padding-top: 80px;
	margin-right: 20px;
}
.chkadua-item img, .otskheli-item img, .firosmani-items img {
	width: 80%;
	height: auto;
}
/*--- End -- Common Styles-----------*/
.menu_bar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	height: 100%;
	width: 100px;
	background-color: #fff;
	border-radius: 0 90px 0 0;
}
/* -------------------------- menu - burger */
.menu-item-box {
	position: absolute;
	top: 10%;
	left: 50%;
	height: 45px;
	transform: translate(-50%, -50%);
	width: 45px;
	cursor: pointer;
}
span.menu-item {
	position: absolute;
	background-color: red;
	height: 3px;
	display: block;
	width: 45px;
}
span.menu-item:first-child {
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	transition: transform .3s;
}
span.menu-item:last-child {
	top: 60%;
	left: 0;
	transform: translateY(-60%);
	width: 33px;
	transition: width .1s, transform .3s;
}
.menu-item-box.active span.menu-item:first-child {
	top: 50%;
	transform: translate(-50%,-40%) rotate(-45deg);
}
.menu-item-box.active span.menu-item:last-child {
	top: 50%;
	transform: translateY(-60%) rotate(45deg);
	width: 45px;
}
/* -------- End ------------------ menu - burger */

a.logo {
	width: 104px;
	height: 33px;
	display: block;
	position: absolute;
	top: 10%;
	right: 60px;
	z-index: 10;
	background-image: url(../img/logo/logo-17.png);
	background-repeat: no-repeat;
}

/* -------------------------- Social - box */
.share-box {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.share-box.active .social {
	visibility: visible;
} 
.share-box.active .social .social-icons i {
	font-size: 20px;
}
.share-box i.fa.fa-share-alt {
	font-size: 20px;
	color: rgba(45, 49, 51, .5);
}
nav.social {
	margin-top: 20px;
	visibility: hidden;
}
.social-icons {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	width: 20px;
	height: 20px;
}
.social-icons:last-child {
	margin-bottom: 0;
}
.social-icons i {
	font-size: 0px;
	color: rgba(45, 49, 51, .5);
	transition: font-size .3s;
}
/* ----------- End ----------- Social - box */
.red-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-color: #E9481C;
	display: flex;
	justify-content: center;
	align-items: center;
}
.geolab {
	width: 37px;
	height: 47px;
	background-image: url(../img/logo/geolab-svg.svg);
	background-repeat: no-repeat;
}
/* ---------------- Hidden - bar ---------*/
.hidden-menu-bar {
	width: 400px;
	height: 100%;
	position: fixed;
	left: -100%;
	top: 0;
	z-index: 3;
	transition: left .5s;
	background-color: #fff;
	border-radius: 0 90px 0 0;
}
.mobile-hidden-menu-bar {
	display: none;
}
.hidden-menu-bar.active {
	left: 0px;
}
.inner-menu {
	height: 360px;
	margin-left: 110px;
	margin-top: 100px;
}
a.inner-menu-links {
	color: rgba(45, 49, 51, .5);
	display: block;
	margin-bottom: 25px;
	font-size: 22px;
}
a.inner-menu-links:hover, .name-items-wrapper a:hover {
	color: rgba(56, 8, 174, .9);
}
a.inner-menu-links:last-child {
	margin-bottom: 0px;
}
nav.hidden-name-menu {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100px;
	margin: 0;
}
.name-items-wrapper {
	position: absolute;
	margin-bottom: 10px;
	width: 100%;
	height: 18px;
	left: -100%;
}
.first {
	top: 0px;
	transition: left .3s;
}
.second {
	top: 30px;
	transition: left .7s;
}
.third {
	top: 60px;
	transition: left 1.1s;
}
#show-hidden-name-menu.active + .hidden-name-menu .first {
	left: 0%;
}
#show-hidden-name-menu.active + .hidden-name-menu .second {
	left: 0%;
}
#show-hidden-name-menu.active + .hidden-name-menu .third {
	left: 0%;
}
.defisi {
	width: 25px;
	height: 2px;
	margin: 8px 10px;
	display: inline-block;
	background-color: rgba(56, 8, 174, .6);
}
.name-items-wrapper a {
	color: rgba(45, 49, 51, .5);
	font-size: 20px;
}
.long-red-box {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 100px;
	background-color: #E9481C;
}
/* ------- End --------- Hidden - bar ---------*/
.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}
.left-slider {
	width: 60%;
	height: 100vh;	
}
.right-slider {
	width: 40%;
	height: 100vh;
}
.allways_modern {
	position: absolute;
	top: calc(50% - 20px);
	right: 40%;
	z-index: 2;
	height: 150px;
	width: 39%;
	background-color: rgba(56, 8, 174, 1);
	border-radius: 0 0 0 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.blue-box {
	position: absolute;
	top: calc(50% - 20px);
	right: 0;
	height: 150px;
	width: 100%;
	background-color: rgba(56, 8, 174, 1);
	z-index: 1;
}
.allways_modern h1 {
	color: #fff;
	font-size: 40px;
	text-align: center;
}
.left-slider-img {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.right-slider-img {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.white_block {
	position: absolute;
	right: 0;
	z-index: 10;
	top: calc(50% + 40px);
	width: 100%;
	height: 90px;
	background-color: rgba(255,255,255, .3);
}
.slide_date {
	position: absolute;
	top: 50%;
	right: 0;
	color: rgba(255,255,255, .5);
	background-color: transparent;
	font-size: 140px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	width: 100%;
	z-index: 10;
}
/*--------------- chkadua page---------*/

.chkadua {
	background-image: url(../img/eteri/eteribg.jpg);
}
.chkadua-img {
	background-image: url(../img/eteri/chkadua.jpg);
}
.chkadua-images {
	width: 276px;
	height: 227px;
}
.chkadua-item {
	width: 276px;
	height: 227px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
/*------End--------- chkadua page---------*/
/*--------------- otskheli page---------*/
.otskheli {
	background-image: url(../img/petre/otskhelibg.jpg);
}
.otskheli-img {
	background-image: url(../img/petre/otskheli.jpg);
}
.otskheli-images {
	width: 321px;
	height: 258px;
}
.otskheli-item {
	width: 321px;
	height: 258px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.slick-prev {
	background-image: url(../img/sticker-slide/left-arrow.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 17px;
}
.slick-next {
	background-image: url(../img/sticker-slide/right-arrow.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 17px;
}
/*-----End---------- otskheli page---------*/
/*--------------- firosmani page---------*/
.firosmani-page {
	background-image: url(../img/firosmani/firosmanibg.jpg);
}
.firosmani-img {
	background-image: url(../img/firosmani/firosmani.jpg);
}
.firosmani-images {
	width: 231px;
	height: 258px;
}
.firosmani-items {
	width: 231px;
	height: 230px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

/*-----End---------- firosmani page---------*/



/*--------------- about page---------*/
.about {
	background-image: url(../img/firosmani/firosmanibg.jpg);
}

section.about-text {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
section.about-text h1 {
	font-size: 25px;
	color: #E9481C;
	padding: 80px 0 40px 40px;
}
section.about-text p {
	font-family: 'BPGRioniVera';
	font-weight: bold;
	font-size: 18px;
	color: #2D3133;
	opacity: .9;
	line-height: 24px;
	text-indent: 40px;
	text-align: justify;
	margin-bottom: 60px;
}
a.order-sticker {
	background-color: #3808AE;
	color: #fff;
	padding: 15px 30px;
	float: right;
	border-radius: 0 70px 0 70px;
	font-size: 13px;
}
/*-----End---------- about page---------*/


/*--------------- contact page---------*/
.contact {
	background-image: url(../img/pages/aboutBG.jpg);
}
.contact-form-div {
	width: 535px;
	padding: 60px 0 0 80px;	
}
.gif {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 430px;
	height: auto;
}
.gif-img {
	width: 90%;
	position: absolute;
	right: 0;
	bottom: 0;
}
.contact-form input, .contact-form textarea {
	display: block;
	background-color: transparent;
	font-size: 13px;
	color: #9F9F9F;
	opacity: .7;
}
.contact-form input:focus, .contact-form textarea:focus {
	    outline: none;
}
.contact-form input {
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	width: 270px;
	line-height: 18px;
	margin-bottom: 15px;
}
.contact-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid rgba(56, 8, 174, .6);
	margin-top: 25px;
	padding: 8px 0 0 10px;
}
.contact-form input::placeholder {
    color: #9F9F9F;
    opacity: .7;
} 
textarea::placeholder {
    color: rgba(233, 72, 28, .7);
} 
.submit {
	border-bottom: 0 !important;
	cursor: pointer;
	background-color: #3808AE !important;
	opacity: 1;
	border-radius: 0 70px 0 70px;
	color: #fff !important;
	padding: 10px 0;
	width: 120px !important;
	float: right;
	margin-top: 30px;
}
/*-----End---------- contact page---------*/

/*----------- order-sticker ------------ */
.sticker {
	background-image: url(../img/eteri/eteribg.jpg);
}
.forms-wrapper {
	width: 600px;
	margin-top: 50px;
}
.forms-wrapper h2 {
	color: #E9481C;
	margin-bottom: 50px;
}
.left-form {
	width: 50%;
	display: inline-block;
	padding-right: 10px;
}
.right-form {
	width: 50%;
	display: inline-block;
	padding-left: 10px;
}
.left-inner-form input {
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	margin-bottom: 40px;
	color: #9F9F9F;
	opacity: .5;
}
.left-inner-form input:focus {
	outline: none;
}
.right-inner-form input {
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	margin-bottom: 40px;
	color: #9F9F9F;
	opacity: .5;
}
.right-inner-form input::placeholder, .left-inner-form input::placeholder {
    color: #9F9F9F;
    opacity: .4;
}
.right-inner-form input:focus {
	outline: none;
}
.submit-order {
	border-bottom: 0 !important;
	cursor: pointer;
	background-color: #3808AE !important;
	border-radius: 0 70px 0 70px;
	color: #fff !important;
	opacity: 1 !important;
	padding: 10px 0;
	width: 120px !important;
	float: right;
	margin-top: 0px;
}

.mobile-slider {
	width: 180px;
	height: 348px;
	background: url(../img/sticker-slide/mobile.png) no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.sticker-slider {
	width: 120px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticker-item {
	width: 110px;
	margin-right: 5px;
}
.sticker-item img {
	width: 100%;
}



@media screen and (max-width: 1200px) {

.forms-wrapper {
	width: 450px;
}

.painter-img {
	width: 120px;
	height: 160px;
	margin-top: 60px;
}
.painter-text {
	width: 350px;
}
.painter-text h2 {
	text-align: center;
	color: #E9481C;
	padding: 20px 0;
	font-size: 20px;
}
.pre-text {
	width: 300px;
}
.painter-slider {
	width: 321px;
	display: flex;
	justify-content: center;
	padding-top: 60px;
	margin-right: 20px;
}
.firosmani-images {
	width: 100%;
	height: 258px;	
}
.otskheli-images {
	width: 100%;
	height: 258px;	
}
.chkadua-images {
	width: 100%;
	height: 227px;	
}
.chkadua-item img, .otskheli-item img, .firosmani-items img {
	width: 80%;
	height: auto;
}
.allways_modern h1 {
	font-size: 35px;
}

}

@media screen and (max-width: 1100px) {

.inner-page {
	min-height: 400px;
}
.inner-page-for-contact {
	min-height: 400px;
}
.contact-form-div {
	width: 400px;
	padding: 60px 0 0 80px;	
}
.contact-form input {
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	width: 100%;
	line-height: 18px;
	margin-bottom: 15px;
}
.gif {
	position: absolute;
	right: 0;
	bottom: 0;
	height: auto;
}
.gif-img {
	height: 350px;
	width: auto;
	position: absolute;
	right: 0;
	bottom: 0;
}
.painter-img {
	width: 100px;
	height: 140px;
}
.painter-text {
	width: 300px;
}
.painter-text h2 {
	text-align: center;
	color: #E9481C;
	padding: 20px 0;
	font-size: 20px;
}
.pre-text {
	width: 250px;
}
.painter-slider {
	width: 221px;
	display: flex;
	justify-content: center;
	padding-top: 60px;
	margin-right: 20px;
}
.firosmani-images {
	width: 100%;
	height: 258px;	
}
.otskheli-images {
	width: 100%;
	height: 258px;	
}
.chkadua-images {
	width: 100%;
	height: 227px;	
}
/*---------- about-----------*/
section.about-text {
	width: 90%;
}
section.about-text h1 {
	font-size: 22px;
	padding: 60px 0 20px 40px;
}
section.about-text p {
	font-size: 16px;
	color: #2D3133;
	opacity: .8;
	line-height: 22px;
	text-indent: 40px;
	text-align: justify;
	margin-bottom: 40px;
}
a.order-sticker {
	background-color: #3808AE;
	color: #fff;
	padding: 15px 30px;
	float: right;
	border-radius: 0 70px 0 70px;
	font-size: 13px;
}
/*-----End---------- about page---------*/


.allways_modern h1 {
	font-size: 30px;
}

}



@media  screen and (max-width: 940px) {
	
.menu_bar, .hidden-menu-bar {
	display: none;
}
#mobile_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile_menu_bar {
	padding: 10px 20px;
	width: 100%;
	display: block;
	background-color: rgba(255,255,255, .8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
a.mobile-logo {
	width: 88px;
	height: 28px;
	display: block;
	position: initial;
	top: initial;
	right: initial;
	z-index: initial;
	background-image: url(../img/logo/logo-17.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.mobile-menu-item-box {
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: relative;
}
.mobile-share-box {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.mobile-share-box.active .mobile-social {
	visibility: visible;
} 
.mobile-share-box.active .mobile-social .mobile-social-icons i {
	font-size: 20px;
}
.mobile-share-box i.fa.fa-share-alt {
	font-size: 20px;
	color: rgba(45, 49, 51, .5);
}
nav.mobile-social {
	display: flex;
	justify-content: space-between;
	width: 100px;
	height: 20px;
	visibility: hidden;
	margin-left: 40px;
	margin-top: -20px;
}
.mobile-social-icons {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	width: 20px;
	height: 20px;
}
.mobile-social-icons:last-child {
	margin-bottom: 0;
}
.mobile-social-icons i {
	font-size: 0px;
	color: rgba(45, 49, 51, .5);
	transition: font-size .3s;
}
span.menu-item {
	position: absolute;
	background-color: red;
	height: 3px;
	display: block;
	width: 30px;
}
span.menu-item:first-child {
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	transition: transform .3s;
}
span.menu-item:last-child {
	top: 60%;
	left: 0;
	transform: translateY(-60%);
	width: 20px;
	transition: width .1s, transform .3s;
}
.mobile-menu-item-box.active span.menu-item:first-child {
	top: 50%;
	transform: translate(-50%,-40%) rotate(-45deg);
}
.mobile-menu-item-box.active span.menu-item:last-child {
	top: 50%;
	transform: translateY(-60%) rotate(45deg);
	width: 30px;
}
.mobile-hidden-menu-bar {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	right: -100%;
	top: 50px;
	z-index: 3;
	transition: right .5s;
	background-color: rgba(255,255,255, .8);
	border-radius: initial;
}
.mobile-hidden-menu-bar.active {
	right: 0px;
}
.mobile-inner-menu {
	height: 100%;
	padding: 20px 0 0;
	display: flex;
	flex-direction: column;
}
.mobile-inner-menu-links {
	color: #fff;
	display: inline-block;
	background-color: rgba(56, 8, 174, .4);
	font-size: 15px;
	padding: 12px 0 7px;
	width: 170px;
	margin: 0 auto 10px;
	text-align: center;
	border-radius: 0 70px 0 70px;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.left-slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
}
.right-slider {
	display: none;
}
.allways_modern {
	top: 60%;
	height: 100px;
	right: 0;
	width: 100%;
	background-color: rgba(56, 8, 174, .4);
	border-radius: initial;
}
.allways_modern h1 {
	font-size: 20px;
}
.pages {
	width: 100%;
	height: auto;
	background-repeat: initial;
	background-position: initial;
	background-size: initial;
	position: initial;
	margin: 0;
	padding: 0;
}
.about {
	background-image: initial;
	background-color: lightgreen;
	padding: 10px 0;
}
section.about-text h1 {
	font-size: 18px;
	padding: 0 0 30px 40px;
}
section.about-text p {
	font-size: 14px;
	color: #2D3133;
	opacity: .8;
	line-height: 22px;
	text-indent: 40px;
	text-align: justify;
	margin-bottom: 0px;
}
.fix-sticker {
	width: 100%;
	min-height: 60px;
	position: relative;
}
a.order-sticker {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #3808AE;
	color: #fff;
	padding: 15px 30px;
	border-radius: 0 70px 0 70px;
	font-size: 13px;
}
.inner-page {
	position: initial;
	right: initial;
	top: initial;
	transform: initial;
	width: 90%;
	margin: 0 auto;
	height: auto;
	background-color: #fff;
	border-radius: 0 0 0 70px;
	display: block;
	padding: 30px;
}
.inner-page-for-contact {
	position: relative;
	right: initial;
	top: initial;
	transform: initial;
	width: 90%;
	min-height: 600px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 0 0 0 70px;
	padding: 30px;
}
.contact {
	background-image: initial;
	background-color: lightblue;
	padding: 10px 0;
}
.contact-form-div {
	width: 100%;
	padding: 10px;
	margin: 0 auto;	
}
.contact-form input {
	width: 100%;
}
.gif {
	margin-top: 30px;
	position: initial;
	right: initial;
	bottom: initial;
	width: 100%;
	height: auto;
}
.gif-img {	
	width: auto;
	height: 250px;
	position: absolute;
	right: -1px;
	bottom: 0;
}
/*----------- sticker------*/

.sticker {
	background-image: initial;
	background-color: lightgrey;
	padding: 10px 0;
}
.forms-wrapper {
	width: 80%;
	margin: 0 auto 30px;
	padding: 10px 0;
}
.forms-wrapper h2 {
	color: #E9481C;
	margin-bottom: 25px;
}
.left-form {
	width: 100%;
	display: block;
	padding-right: 0;
}
.right-form {
	width: 100%;
	display: block;
	padding-left: 0px;
}
.left-inner-form input {
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	margin-bottom: 40px;
}
.left-inner-form input:focus {
	outline: none;
}
.right-inner-form input {
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid rgba(56, 8, 174, .6);
	margin-bottom: 40px;
}
.right-inner-form input:focus {
	outline: none;
}
.submit-order {
	border-bottom: 0 !important;
	cursor: pointer;
	background-color: #3808AE !important;
	border-radius: 0 70px 0 70px;
	color: #fff;
	padding: 10px 0;
	width: 120px !important;
	float: right;
	margin-top: 0px;
}
.mobile-slider-wrapper {
	height: 350px;
	position: relative;
	width: 100%;
}
.mobile-slider {
	width: 180px;
	height: 348px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/sticker-slide/mobile.png) no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sticker-slider {
	width: 120px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticker-item {
	width: 110px;
	margin-right: 5px;
}
.sticker-item img {
	width: 100%;
}
/*------------ painters common styles-------*/

.painter-img {
	width: 140px;
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 20px auto;
}
.painter-text {
	width: 100%;
}
.painter-text h2 {
	text-align: center;
	color: #E9481C;
	padding: 30px 0;
	font-size: 20px;
}
.pre-text {
	min-width: 200px;
	margin: 0 auto 20px;
}
.painter-text p {
	font-family: 'AGrigoliaL';
	font-size: 15px;
	color: #2D3133;
	line-height: 18px;
	text-indent: 30px;
}
.pre-text-p {
	font-family: 'BPGNinoMtavruli-Bold' !important;
	font-size: 14px !important;
	text-indent: initial !important;
}
.painter-slider {
	width: 321px;
	display: flex;
	justify-content: center;
	padding-top: 80px;
	margin: 20px auto;
}
.chkadua-item img, .otskheli-item img, .firosmani-items img {
	width: 80%;
	height: auto;
}
/*------------- Otskheli--------*/

.otskheli {
	background-image: initial;
	background-color: lightgreen;
	padding: 10px 0;
}
.otskheli-img {
	background-image: url(../img/petre/otskheli.jpg);
}
.otskheli-images {
	width: 321px;
	height: 258px;
}
.otskheli-item {
	width: 321px;
	height: 258px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.slick-prev {
	background-image: url(../img/sticker-slide/left-arrow.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 17px;
}
.slick-next {
	background-image: url(../img/sticker-slide/right-arrow.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 17px;
}
/*--------------- chkadua page---------*/

.chkadua {
	background-image: initial;
	background-color: lightblue;
	padding: 10px 0;
}
.chkadua-img {
	background-image: url(../img/eteri/chkadua.jpg);
}
.chkadua-images {
	width: 276px;
	height: 227px;
}
.chkadua-item {
	width: 276px;
	height: 227px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
/*------End--------- chkadua page---------*/

/*--------------- firosmani page---------*/
.firosmani-page {
	background-image: initial;
	background-color: lightgrey;
	padding: 10px 0;
}
.firosmani-img {
	background-image: url(../img/firosmani/firosmani.jpg);
}
.firosmani-images {
	width: 231px;
	height: 258px;
}
.firosmani-items {
	width: 231px;
	height: 230px;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

}

/*-----End---------- firosmani page---------*/
@media screen and (max-width: 500px) { 

.mobile-share-box {
	display: none;
}
.pre-text-p {
	font-size: 12px !important;
}
}
@media screen and (max-width: 450px) {

.painter-slider {
		display: none;
}
section.about-text h1 {
	font-size: 16px;
	padding-left: 0;
	text-align: center;
}
.gif-img {	
	width: 80%;
	height: auto;
	position: absolute;
	right: -1px;
	bottom: 0;
}

}
